@{
	ViewData["title"] = "Home page";
}



<link href="~/datatables/css/jquery.datatables.min.css" rel="stylesheet" />



<div class="container">
	<h3 class="text-primary"> Customers</h3>

	<table id="example" class="table table-striped table-bordered dt-responsive nowrap">
		<thead>
			<tr>
				<th>ID</th>
				<th>FirsetName</th>
				<th>LastName</th>
				<th>Contact</th>
				<th>Email</th>
				<th>DateOfBirth</th>
				<th>Actions</th>
			</tr>
		</thead>
	</table>

</div>



@section Scripts
	{
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/datatables/js/jquery.datatables.min.js"></script>
	<script src="~/datatables/js/datatables.bootstrap4.min.js"></script>
	<script src="~/js/site.js"></script>
}