@{
    ViewData["Title"] = "DataTables Dark Mode";
}
<h1>@ViewData["Title"]</h1>


<link href="~/css/jquery.datatables.min.css" rel="stylesheet" />




<table id="example" class="display table table-dark table-borderless text-center">
    <thead class="text-center">
        <tr class="text-center">
            <th>ID</th>
            <th>FirsetName</th>
            <th>LastName</th>
            <th>Contact</th>
            <th>Email</th>
        </tr>
    </thead>

</table>


@section Scripts
	{

	<script src="~/js/privacy.js"></script>
}